#categories-section {
  padding: 80px 0;
}

#categories-section h2 {
  text-align: center;
  margin-bottom: 60px;
}

#categories-section .row > div:nth-child(5n) {
  margin-top: 40px;
}

#categories-section a.quiz-category-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #dadce0;
  border-radius: 12px;
  color: #0e71eb;
}

#categories-section a.quiz-category-wrapper:hover {
  -webkit-box-shadow: 0 0 5px #9aa0a6;
          box-shadow: 0 0 5px #9aa0a6;
}

#categories-section a.quiz-category-wrapper .quiz-category-img, #categories-section a.quiz-category-wrapper .quiz-category-title {
  padding: 20px;
}

#categories-section a.quiz-category-wrapper .quiz-category-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#categories-section a.quiz-category-wrapper .quiz-category-img img {
  width: 100%;
  max-width:  100%;
  height: auto;
}

#categories-section a.quiz-category-wrapper .quiz-category-title {
  background-color: #0e71eb;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  #categories-section {
    padding: 40px 0;
  }
  #categories-section .row > div:not(:last-child) {
    margin-bottom: 40px;
  }
  #categories-section .row > div:nth-child(5n) {
    margin-top: 0;
  }
}
/*# sourceMappingURL=categories.css.map */