#questions-section {
  padding: 80px 0;
}

#questions-section h2 {
  text-align: center;
  margin-bottom: 40px;
}

#questions-section .asked-question {
  background: #dae0e9;
  padding: 30px;
  border-radius: 12px;
  margin-bottom: 20px;
}

#questions-section form .custom-radio:not(:last-child) {
  margin-bottom: 10px;
}

#questions-section form .custom-radio:not(:last-child) .custom-control-label::before,
#questions-section form .custom-radio:not(:last-child) .custom-control-label::after {
  cursor: pointer;
}

#questions-section form button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 20px;
}

#questionResult .modal-content {
  border-radius: 12px;
  overflow: hidden;
}

#questionResult .modal-content .modal-header .close {
  color: #fff;
}

#questionResult .modal-content .modal-header .close:focus {
  outline: none;
}

#questionResult .modal-content .modal-success {
  background-color: #47b847;
  color: #fff;
}

#questionResult .modal-content .modal-danger {
  background-color: #e24242;
  color: #fff;
}

#questionResult .modal-content .modal-body {
  padding: 50px 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #questions-section {
    padding: 40px 0;
  }
}
/*# sourceMappingURL=questions.css.map */