.sign-section {
  padding: 80px 0;
}

.sign-section .sign-form-wrapper {
  -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-left-col {
  background: #dae0e9;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-left-col .sign-form-wrapper-left {
  color: #606161;
  text-align: center;
  padding: 80px 30px;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-left-col .sign-form-wrapper-left h1 {
  text-transform: uppercase;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-left-col .sign-form-wrapper-left h1, .sign-section .sign-form-wrapper .sign-form-wrapper-left-col .sign-form-wrapper-left h4 {
  margin-bottom: 20px;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-left-col .sign-form-wrapper-left div img {
  width: 100%;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col {
  background: #fff;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right {
  height: 100%;
  padding: 0 30px;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form .form-group {
  margin-bottom: 24px;
  width: 100%;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form label {
  color: #606161;
  display: none;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form input {
  padding: 20px 12px;
  border-radius: 8px;
  width: 100%;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form button {
  margin-top: 10px;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form a {
  color: #39394d;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #606161;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form a:hover {
  color: #0e71eb;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form p.signup-para, 
.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form p.forgot-para {
  margin-top: 20px;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form p.signin-para a, 
.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form p.signup-para a, 
.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form p.forgot-para a {
  font-weight: 500;
  color: #606161;
}

.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form p.signin-para a:hover, 
.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form p.signup-para a:hover, 
.sign-section .sign-form-wrapper .sign-form-wrapper-right-col .sign-form-wrapper-right form p.forgot-para a:hover {
  color: #0e71eb;
}

@media only screen and (max-width: 768px) {
  .sign-section {
    padding: 40px 0;
  }
  .sign-section .sign-form-wrapper {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    border-radius: 12px;
  }
  .sign-section .sign-form-wrapper .sign-form-wrapper-left-col, 
  .sign-section .sign-form-wrapper .sign-form-wrapper-right-col {
    border-radius: 12px;
    -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
            box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
  }
  .sign-section .sign-form-wrapper .sign-form-wrapper-left-col {
    margin-bottom: 30px;
  }
  .sign-section .sign-form-wrapper .sign-form-wrapper-right-col {
    padding: 40px 20px;
  }
}
/*# sourceMappingURL=sign.css.map */