/*

Theme Name: IQ Trivia
Author: Zack Worden
Author URI: http://www.zackworden.com

*/




/* header */
.siteHeader nav #navbarToggler a.logout-link:hover
{
  color: #0e71eb;
}

.siteHeader nav #navbarToggler a.logout-link i
{
  margin-right: 7px;
}

@media only screen and (max-width: 768px)
{
  .navbar-collapse
  {
    margin-top: 20px;
  }
}




/* footer */
.siteFooter
{
  background: #39394d;
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}






/* singular */
.singular
{
	
}
.singular header h1
{
	border-bottom:  2px solid #39394d;
	padding-bottom: .5rem;
	margin-bottom: 2rem;
}
.singular p
{
	margin-bottom:  1rem;
	line-height: 1.5;
}








/* user  */
	.userProfile
	{

	}
	.profile
	{
		display: grid;
		grid-template-columns: repeat( 2, 1fr );
		grid-gap: 2rem;
	}
	.profile_left
	{

	}
	.profile_right
	{
		
	}
	.profile_right label
	{
		font-size:  14px;
		display: block;
		color: #777;
		text-transform: uppercase;
	}
	.profile_right h1
	{
		border-bottom: 2px solid;
	}
	.profile_right > *
	{
		margin-bottom: 1rem;
	}
	.profile_right .trailname
	{

	}
	.profile_right .name
	{

	}
	.profile_right .hometown
	{

	}
	.profile_right .intro
	{

	}
	.profile_right .user_gender
	{

	}
	.score
	{
		margin-top: 4rem;
	}


	.profileActions
	{
		margin: 4rem 0;
	}
	.profileActions .updateProfile_container
	{
		padding: 2rem 0;
		margin-left: auto;
		margin-right: auto;
	}
	.profileActions .updateProfile_container select
	{
		margin-bottom: .5rem 0;
		padding: .5rem .75rem;
		width: 100%;
		border-radius: 3px;
		border: 1px solid #999;
		background-color: transparent;
	}
	.profileActions .updateProfile_container input,
	.profileActions .updateProfile_container textarea
	{
		width:  100%;
		margin-bottom: 1rem;
		padding: .5rem;
	}
	.profileActions .updateProfile_container input[type="file"]
	{
		padding-left: 0;
	}
	.profileActions header button,
	.profileActions .updateProfile_container input[type="submit"]
	{
		display: inline;
		width: unset;
		border-bottom: 2px solid #777;
		margin-top: 3rem;
		border: 2px solid #0e71eb;
		color: white;
		padding: .5rem 1.5rem;
		background-color: #0e71eb;
	}
	.profileActions header,
	.profileActions .updateProfile_container footer
	{
		text-align: center;
	}

	.updateProfileFieldGroup
	{
		margin-bottom: 1rem;
	}
	.updateProfileFieldGroup.double
	{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}
	.updateProfileFieldGroup label
	{
		display: block;
	}


	@media screen and (max-width: 600px)
	{
		.profile
		{
			grid-template-columns: 1fr;
			grid-gap: 1rem;
		}
	}




















/* front page, logged in */
.triviaCategories
{
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat( 3, 1fr );
}

@media screen and ( max-width: 768px )
{
	.triviaCategories
	{
		grid-gap: 1rem;
		grid-template-columns: repeat( 2, 1fr );
	}
}
@media screen and ( max-width: 450px )
{
	.triviaCategories
	{
		grid-gap: 1rem;
		grid-template-columns: 1fr;
	}
}